#sauce-cover {
    border-bottom: 2px solid #33302D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 0;
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-attachment: fixed;
    position: relative;
}

.redclay-logo {
    width: 100%;
    height: 20vh;
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    bottom: 5%;
}

.cover-content {
    background-image: url('/img/original.jpg');
    background-size: cover;
    width: 950px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 960px) {
    #sauce-cover {
        padding: 0;
    }

    .cover-content {
        width: 100%;
        height: 90vh;
    }
}

.cover-content__title {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-align: center;
    line-height: 1.2;
    width: 35rem;
    color: #33302D;
}

@media (max-width: 960px) {
    .cover-content__title {
        width: 100%;
        font-size: 3rem;
    }
}

.cover-content__button {
    border: none;
}

/* Sauces showcase */

.sauce-showcase__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5%;
    position: relative;
    z-index: 5;
}

@media (max-width: 840px) {
    .sauce-showcase__title-container {
        margin: 0 10%;
    }
}

.sauce-showcase__title {
    font-size: 6rem;
    letter-spacing: 0.1rem;
    width: 44rem;
    margin: 0;
    margin-top: 5rem;
}

@media (max-width: 960px) {
    .sauce-showcase__title {
        font-size: 3rem;
        width: 100%;
        margin-bottom: 2.5rem;
    }
}

.sauce-showcase__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1000px;
    grid-gap: 3.5rem;
    padding: 0 5%;
    margin: auto;
    /* height: 100vh; */
    justify-content: center;
    align-content: center;
    min-height: 0;
    min-width: 0;
    position: relative;
    bottom: 60px;
}

@media (max-width: 1000px) {
    .sauce-showcase__container {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .sauce-showcase__container {
        margin: 1rem auto;
        bottom: 0;
    }
}

@media (max-width: 640px) {
    .sauce-showcase__container {
        grid-template-columns: 60vmin;
        grid-gap: 2rem;
    }
}

.sauce-showcase__item {
    overflow: hidden;
    min-width: 0;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.sauce-showcase__item--img {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.sauce-showcase__item-name-container {
    position: absolute;
    bottom: 5%;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    opacity: 1;
}

@media (max-width: 960px) {
    .sauce-showcase__item-name-container {
        position: static;
    }
}

.sauce-showcase__item-name {
    font-weight: 100;
    margin: 0;
    color: #33302D;
}

.sauce-showcase__item-price {
    color: #e35d45;
}

.sauce-showcase__item-overlay--img {
    height: auto;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s;
}

.sauce-showcase__item:hover .sauce-showcase__item-overlay--img {
    opacity: 1;
}

.sauce-showcase__item:hover .sauce-showcase__item-name-container {
    opacity: 0;
}

/* Newsletter form */

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #e35d45;
    color: white;
}

.newsletter-title,
.newsletter-subtitle {
    margin: 0;
    text-transform: uppercase;
    font-weight: 100;
    text-align:center;
}

.newsletter-title {
    letter-spacing: 0.02rem;
}

.newsletter-subtitle {
    font-size: 1.15rem;
}

.newsletter-form {
    margin-top: 2.5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.newsletter-form__email,
.newsletter-form__submit {
    all: unset;
}

.newsletter-form__email {
    color: #9c968f;
    padding: 0 0.7rem;
}

.newsletter-form__submit {
    background-image: url('/img/submit-arrow.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: left;
    width: 40px;
    height: 56px;
    cursor: pointer;
}

/* Our peppers */

#our-peppers {
    padding: 3rem 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

@media (max-width: 1020px) {
    #our-peppers {
        flex-direction: column;
    }
}

.our-peppers__image {
    background-image: url('/img/our-peppers-fresno.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 55%;
    height: 100vh;
    transition: 0.3s;
}

@media (max-width: 1020px) {
    .our-peppers__image {
        width: 80%;
        max-height: 100vw;
        margin: auto;
    }
}

.our-peppers-list {
    align-self: center;
    margin-left: 8rem;
}

@media (max-width: 1020px) {
    .our-peppers-list {
        margin-left: 10%;
        margin-top: 3rem;
        align-self: normal;
    }
}

.our-peppers-list__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
    display: inline-block;

}

.our-peppers-list__title::after {
    content: "";
    background-color: #e35d45;
    height: 20px;
    width: 120%;
    z-index: -1;
    display: block;
    position: absolute;
    top: 14px;
    left: -13px;
}

.our-peppers-list__items {
    list-style: none;
    font-size: 4rem;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 1020px) {
    .our-peppers-list__items {
        font-size: 3rem;
    }
}

.our-peppers-list__item {
    margin: 1rem 0;
    width: 50%;
    color: #33302D;
    transition: color 0.3s;
}

.our-peppers-list__item:hover,
.our-peppers-list__item:active {
    color: #e35d45;
}

.our-peppers__pepper-icon {
    position: absolute;
    width: 150px;
    height: 150px;
    right: -10px;
}

@media (max-width: 1020px) {
    .our-peppers__pepper-icon {
        width: 115px;
        height: 115px;
        right: 10px;
        bottom: 30%;
    }
}

@media (max-width: 640px) {
    .our-peppers__pepper-icon {
        bottom: 25rem;
    }
}

/* Inspiration section */

#inspiration {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1020px) {
    #inspiration {
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
    }
}

.inspiration-text {
    width: 55vw;
    padding: 0 2rem;
    font-size: 1.5rem;
}

@media (max-width: 1020px) {
    .inspiration-text {
        width: 100%;
        font-size: 1.2rem;
    }
}

.inspiration-text__title,
.inspiration-text__subtitle {
    text-transform: uppercase;
    color: #e35d45;
    letter-spacing: 0.12rem;
    margin: 0;
}

.inspiration-text__title {
    margin-bottom: 0.5rem;
}

.inspiration-text__paragraph {
    font-size: 1.2em;
    line-height: 2rem;
}

.inspiration-text__button {
    font-size: 1.1rem;
    display: inline-block;
}

.inspiration-image {
    height: 85vh;
    justify-self: center;
}

@media (max-width: 1020px) {
    .inspiration-image {
        grid-row: 1;
    }
}

@media (max-width: 640px) {
    .inspiration-image {
        width: 80%;
        height: auto;
    }
}

/* Footer */

.main-footer {
    background-color: #33302D;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 3.5rem 0;
}

@media (max-width: 1020px) {
    .main-footer {
        flex-direction: column;
    }
}

.main-footer__link {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.main-footer__link:hover,
.main-footer__link:active {
    color: #e35d45;
}

.main-footer-resources,
.main-footer-social {
    all: unset;
    list-style: none;
    align-self: center;
    text-align: center;
}

@media (max-width: 1020px) {
    .main-footer-resources,
    .main-footer-social {
        padding: 1rem 0;
    }

    .main-footer-social {
        order: 3;
    }

    .main-footer-resources {
        order: 4;
    }
}

.main-footer-resources__item,
.main-footer-social__item {
    padding: 0.35rem 0;
}

.main-footer-newsletter__title {
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    text-align: center;
    margin-bottom: 2rem;
}

.main-footer-newsletter__form {
    align-self: center;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.3rem;
}

@media (max-width: 1020px) {
    .main-footer-newsletter {
        order: 2;
        align-self: center;
        width: 100%;
    }

    .main-footer-newsletter__form {
        width: 350px;
        max-width: 100%;
        margin: auto;
    }
}

.main-footer-newsletter__form--email,
.main-footer-newsletter__form--submit {
    all: unset;
}

.main-footer-newsletter__form--email {
    width: 100%;
}

.main-footer-newsletter__form--submit {
    text-transform: uppercase;
    padding-right: 0.6rem;
    cursor: pointer;
}

@media (max-width: 1020px) {
    .main-footer-logo {
        width: 100px;
        order: 1;
        align-self: center;
        padding: 1rem 0;
    }
}