#sauce-cover {
    border-bottom: 2px solid #33302D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 0;
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-attachment: fixed;
    position: relative;
}

.redclay-logo {
    width: 100%;
    height: 20vh;
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    bottom: 5%;
}

.cover-content {
    background-image: url('/img/original.jpg');
    background-size: cover;
    width: 950px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 960px) {
    #sauce-cover {
        padding: 0;
    }

    .cover-content {
        width: 100%;
        height: 90vh;
    }
}

.cover-content__title {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-align: center;
    line-height: 1.2;
    width: 35rem;
    color: #33302D;
}

@media (max-width: 960px) {
    .cover-content__title {
        width: 100%;
        font-size: 3rem;
    }
}

.cover-content__button {
    border: none;
}

/* Sauces showcase */

.sauce-showcase__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5%;
}

@media (max-width: 840px) {
    .sauce-showcase__title-container {
        margin: 0 10%;
    }
}

.sauce-showcase__title {
    font-size: 5rem;
    letter-spacing: 0.1rem;
    width: 44rem;
}

@media (max-width: 960px) {
    .sauce-showcase__title {
        font-size: 3rem;
        width: 100%;
    }
}

.sauce-showcase__container {
    display: grid;
    grid-template-columns: repeat(2, 40vmin);
    /* width: 880px; */
    grid-gap: 3.5rem;
    margin: 1rem auto;
    /* height: 100vh; */
    justify-content: center;
    align-content: center;
    min-height: 0;
    min-width: 0;
}

@media (max-width: 640px) {
    .sauce-showcase__container {
        grid-template-columns: 60vmin;
        grid-gap: 2rem;
    }
}

.sauce-showcase__item {
    overflow: hidden;
    min-width: 0;
}

.sauce-showcase__item--img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}