#sauce-cover {
    border-bottom: 2px solid #33302D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 0;
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
    background-position: left 10% bottom -70%;
    background-attachment: fixed;
    position: relative;
}

.cover-content {
    background-image: url('/img/original.jpg');
    width: 950px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-content__title {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-align: center;
    line-height: 1.2;
    width: 35rem;
    color: #33302D;
}

.cover-content__button {
    border: none;
}

.sauce-showcase__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5%;
}

@media (max-width: 840px) {
    .sauce-showcase__title-container {
        margin: 0 10%;
    }
}

.sauce-showcase__title {
    font-size: 5rem;
    letter-spacing: 0.1rem;
    width: 44rem;
}

