/* General styles */
@font-face {
    font-family: 'Halyard Display';
    src: url('/fonts/Halyard\ Display\ Regular.ttf');
}

@font-face {
    font-family: 'Halyard Text';
    src: url('/fonts/Halyard\ Text\ Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Halyard Text';
    font-size: 1.1rem;
    color: #33302D;
    margin: 0;
    display: grid;
    grid-template-rows: 3.8rem auto fit-content(8rem);
    grid-template-areas: 'header'
                         'main'
                         'footer';
}

@media (max-width: 840px) {
    body {
        grid-template-rows: 5rem auto fit-content(8rem);
    }
}

main {
    grid-area: main;
}

h1 {
    font-family: 'Halyard Display';
}

/* Header style */

.main-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.8rem 2rem;
    color: #33302D; /*#e35d45*/
    border-bottom: 2px solid #33302D;
    position: fixed;
    z-index: 10;
    background-color: #ffffff;
}

@media (max-width: 840px) {
    .main-header {
        position: static;
        padding: 1rem 1rem;
    }

    .main-nav {
        display: none;
    }

    .main-header__logo {
        order: 2;
    }

    .mobile-nav {
        order: 1;
    }

    .account {
        order: 3;
    }

}

.main-header__logo--img {
    height: 3rem;
}

.main-nav__items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav__item {
    padding: 0 1rem;
    vertical-align: middle;
}

/* Hamburger menu styles */

.hamburger-menu {
    cursor: pointer;
    display: none;
}

@media (max-width: 840px) {
    .hamburger-menu {
        display: block;
    }
}

.hamburger-menu__line {
    width: 30px;
    height: 3px;
    background-color: #33302D;
    margin: 0.25rem;
    transition: 0.4s ease-in-out;
}

.change {
    position: relative;
    left: 10px;
}

.change .hamburger-menu__line:nth-of-type(1) {
    /* -webkit-transform: rotate(-45deg) translate(-9px, 6px); */
    transform: rotate(135deg) translate(10px);
}
  
.change .hamburger-menu__line:nth-of-type(2) { 
    opacity: 0;
}

.change .hamburger-menu__line:nth-of-type(3) {
    /* -webkit-transform: rotate(45deg) translate(-8px, -8px); */
    transform: rotate(225deg) translate(10px);
}

/* Mobile navigation styles */

.mobile-nav {
    position: absolute;
    z-index: -99;
    top: 11.9%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: white;
    opacity: 0;
    transform: translateY(-130%);
    min-height: 250px;
    transition: 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
}

.mobile-nav--active {
    transform: translateY(0);
    min-height: 0;
    border-bottom: 2px solid #33302D;
    opacity: 1;
}

.mobile-nav__items {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile-nav__item {
    padding: 0.4rem 0;
}

/* Links ih header */

.main-header__link {
    text-decoration: none;
    color: #33302D;
    transition: color 0.3s;
}

.main-header__link:hover,
.main-header__link:active {
    color: #e35d45;
}

/* Buttons */

.button {
    color: #e35d45;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    background-color: white;
    border: 2px solid #e35d45;
    padding: 0.8rem 2.5rem;
    transition: 0.3s;
}

.button:hover,
.button:active {
    background-color: #e35d45;
    color: white;
}

/* Footer styles */

footer {
    grid-area: footer;
}