@font-face {
    font-family: 'Halyard Display';
    src: url('/fonts/Halyard\ Display\ Regular.ttf');
}

@font-face {
    font-family: 'Halyard Text';
    src: url('/fonts/Halyard\ Text\ Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Halyard Text';
    font-size: 1.1rem;
    color: #33302D;
    margin: 0;
    display: grid;
    grid-template-rows: 3.8rem auto fit-content(8rem);
    grid-template-areas: 'header'
                         'main'
                         'footer';
}

main {
    grid-area: main;
}

h1 {
    font-family: 'Halyard Display';
}

.main-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.8rem 2rem;
    color: #33302D; /*#e35d45*/
    border-bottom: 2px solid #33302D;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
}

.main-header__logo--img {
    height: 3rem;

}

.main-nav__items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav__item {
    padding: 0 1rem;
    vertical-align: middle;
}

.main-header__link {
    text-decoration: none;
    color: #33302D;
    transition: color 0.3s;
}

.main-header__link:hover,
.main-header__link:active {
    color: #e35d45;
}

/* Buttons */

.button {
    color: #e35d45;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    background-color: white;
    border: 2px solid #e35d45;
    padding: 0.8rem 2.5rem;
    transition: 0.3s;
}

.button:hover,
.button:active {
    background-color: #e35d45;
    color: white;
}

footer {
    grid-area: footer;
}